src/service-account-key.json

__pycache__/
.pytest_cache/
.pyre/
.coverage
.vagrant/
.vscode/
venv/
coverage.xml

# Compiled/Intermediate Files #
###############################
src/web/static/css/less_css/*.css
src/web/static/compiled/*
